.section8{
    margin: 0 auto;
    position: relative;
    bottom: 10%;
    left: 50%;
    height: 400px;
    background-color: gray;
    transform: translate(-50%, -27%);
}
.container-card-8 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 500px;
}
.container-card-8 .card-item-8 {
  display: flex;
  flex-direction: column;
  border: 0px solid black;
  border-radius: 10px;
  padding: 30px;
  width: 300px;
  height: 400px;
  margin: 20px;
  align-items: center;
  box-shadow: -1px -1px 30px -8px rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease;
  background-color: white;
}
.container-card-8 .card-item-8 .img-cont-8 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border: 0px solid black;
  background-color: #EDF4FC;
  border-radius: 50%;
}
.container-card-8 .card-item-8 img {
  width: 45px;
  height: 45px;
  border: 0px solid black;
  
}
.container-card-8 .card-item-8 h2 {
  font-family: "Montserrat", sans-serif;
  margin: 30px 0px 10px 0px;
}
.container-card-8 .card-item-8 p {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin: 10px 0px 40px 0px;
}
.container-card-8 .card-item-8 a {
  font-family: "Montserrat", sans-serif;
  color: black;
  text-decoration: none;
}
.container-card-8 .card-item-8:hover {
  bottom: 20px;
  background-color: #0c5adb;
  color: white;
  top: -10px;
  transition: 0.5s;
}

.container-card-8 .active {
  background-color: #0c5adb;
  color: white;
}
.container-card-8 .active-8 a {
  font-family: "Montserrat", sans-serif;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.container-card-8 .card-item-2-8 {
  display: flex;
  flex-direction: column;
  border: 0px solid black;
  border-radius: 10px;
  width: 350px;
  height: 450px;
  margin: 20px;
  align-items: center;
}
.container-card-8 .card-item-2-8 .card-text-8 {
  display: flex;
  align-items: center;
  border: 0px solid black;
  width: 300px;
  height: 200px;
  background-color: white;
  padding: 20px;
  margin: 30px 0px 0px 0px;
  border-radius: 5px;
}
.container-card-8 .card-item-2-8 .card-text-8 p {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 12pt;
}
.container-card-8 .card-item-2-8 .acc-8 {
  width: 100%;
}
.container-card-8 .card-item-2-8 .acc-8 .triangulo-8 {
  border: none;
  position: relative;
  width: 30px;
  height: 30px;
  background-color: white;
  margin: 0px;
  transform: rotate(45deg);
  bottom: 16px;
  left: 12px;
}
.container-card-8 .card-item-2-8 .card-user-8 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100px;
  border: 0px solid black;
}
.container-card-8 .card-item-2-8 .card-user-8 .foto-user-8 {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0px solid black;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.container-card-8 .card-item-2-8 .card-user-8 .foto-user-8 img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.container-card-8 .card-item-2-8 .card-user-8 .estrellas-8 {
  border: 0px solid black;
  height: 30px;
  margin: 10px 0px 0px 20px;
}
.container-card-8 .card-item-2-8 .card-user-8 .estrellas-8 img {
  width: 20px;
  height: 20px;
  filter: contrast(30%);
}
.container-card-8 .card-item-2-8 .card-user-8 .name-user-8 {
  position: relative;
  border: 0px solid black;
  width: 230px;
  bottom: 60px;
  left: 120px;
}
.container-card-8 .card-item-2-8 .card-user-8 .name-user-8 h3 {
  margin: 10px 0px 10px 0px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: white;
  font-size: 16pt;
}
.container-card-8 .card-item-2-8 .card-user-8 .name-user-8 h4 {
  margin: 0px;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 12pt;
}/*# sourceMappingURL=style.css.map */